//font
$theme__font-family--primary: "Source Code Pro", monospace;
$theme__font-family--secondary: "Merriweather", serif; //add $theme__font-family--primary if you want to have only 1 font family

//size
$baseline__radius: 56px;
$baseline__gap: 1rem;
$baseline__font-size: 1rem; 
$baseline__asset-size: 1.25rem;
$baseline__padding: 0.75rem;
$baseline__border-size: 1px;
$baseline__line-height: 1.5;
$baseline__font-weight: 600;

//colors
$theme__color--primary: #ff0054;
$theme__color--secondary: #7317fa;
$theme__color--neutral: #8A8682;
$theme__color--destructive: #330F0A;
$theme__color--confirmative: #394F49;
$theme__color--cautionary: #EFDD8D;













//Depreciated
$theme__color--surface--primary: #09090b;
$theme__color--surface--secondary: #110e0c;
$theme__color--text--primary: #ffffff;
$theme__color--text--secondary: #828596;
$theme__color--text--tertiary: #a5a5a5;
$theme__color--line: #292423;

$theme__color--primary--100: #ffffff;
$theme__color--neutral--100: #09090b;

$theme__color--neutral--50: #828596;
$theme__color--neutral--30: #a5a5a5;
$theme__color--neutral--20: #d6d6d6;
$theme__color--neutral--0: #ffffff;