//font
$theme__font-family--primary: "Source Code Pro", monospace;
$theme__font-family--secondary: 'Merriweather', serif;

//color
$theme__color--primary: #FA7317;
$theme__color--secondary: #db00ff;
$theme__color--surface--primary: #09090B;
$theme__color--surface--secondary: #110e0c;
$theme__color--text--primary: #ffffff;
$theme__color---text--secondary: #828596;
$theme__color--text-tertiary: #a5a5a5;
$theme__color--line: #292423;

//system colors
$theme__color--error: #dd0000;
$theme__color--success: #00b012;
$theme__color--warning: #ea9803;

//size
$baseline__radius: 12px;
$baseline__gap: 1rem; //16px
$baseline__font-size: 1rem; //16px
$baseline__asset-size: 1.25rem; //20px
$baseline__padding: 0.75rem; //12px
$baseline__border-size: 1px;
$baseline__line-height: 1.5;
$baseline__font-weight: 500;

