@import "./app.scss";


body {
  display: flex;
  flex-direction: column;
  background-color: $color__surface__container--lowest;
  margin: 30px;
  overflow-x: hidden;
  overflow-y: auto;

  @media (max-width: 800px) {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

a {
  text-decoration: none;
}
