@import "./app.scss";


body {
  display: flex;
  flex-direction: column;
  background-color: $color__surface__container; 
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto;

  @media (max-width: 800px) {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

a {
  text-decoration: none;
}


.lucide-16 {
  width:16px;
  height:16px;
  display: flex;
  color: $color__on--surface;
}

.lucide-24 {
  width:24px;
  height:24px;
  display: flex;
  color: $color__on--surface;
}

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 1400px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.35em;
}