@import "./app.scss";


body {
  display: flex;
  flex-direction: column;
  background-color: $color__surface__container; 
  margin: 30px;
  overflow-x: hidden;
  overflow-y: auto;

  @media (max-width: 800px) {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

a {
  text-decoration: none;
}


.lucide-16 {
  width:16px;
  height:16px;
  display: flex;
}

.lucide-24 {
  width:24px;
  height:24px;
  display: flex;
}
