@import "../main/styles.scss";

.button {
  display: flex;
  gap: $gap--xs;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: filter 0.4s cubic-bezier(0.1, 0, 0.3, 1);

  &:hover {
    filter: brightness(90%);
    transition: 4px 0.25s linear;
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }

  //Primary Button
  &.type--primary {
    background-color: $color__primary;
    color: $color__on--primary;
    border: $border__size--md solid $color__primary;

    &:disabled {
      background-color: rgba($color__primary, 0.2);
      color: rgba($color__on--surface, 0.3);
      border: $border__size--md solid rgba($color__primary, 0);
    }
  }

  //Secondary Button
  &.type--secondary {
    background-color: $color__surface__container--low;
    color: $color__on--surface;
    border: $border__size--md solid $color__outline;

    &:disabled {
      background-color: rgba($color__surface__container--low, 0.2);
      color: rgba($color__on--surface, 0.3);
      border: $border__size--md solid rgba($color__outline, 0.8);
    }
  }

  //Tertiary Button
  &.type--tertiary {
    background-color: $tone__primary--60;
    color: $color__on--primary--container;
    border: $border__size--md solid $color__primary--container;

    &:disabled {
      background-color: rgba($tone__primary--60, 0.3);
      color: rgba($color__on--primary--container, 0.4);   
      border: $border__size--md solid rgba($color__primary--container, 0);
    }
  }

  //Text Button
  &.type--text {
    background-color: transparent;
    color: $color__on--surface;
    border: none;
    border-radius: $radius--md;
    min-width: auto;

    &:disabled {
      color: rgba($color__on--surface, 0.4);
    }
  }

  //Underline Button
  &.type--underline {
    background-color: transparent;
    color: $color__on--surface;
    text-decoration: underline;
    border: none;
    border-radius: $radius--xxs;
    min-width: auto;

    &:disabled {
      color: rgba($color__on--surface, 0.4);
    }
  }

  //Conformative Button
  &.type--confirmative {
    background-color: $color__confirmative;
    color: $color__on--confirmative;
    border: $border__size--md  solid rgba($color__confirmative, 1);

    &:disabled {
      background-color: rgba($color__confirmative, 0.4);
      color: rgba($color__on--confirmative, 0.3);
      border: $border__size--md  solid rgba($color__confirmative, 0);
    }
  }

  //Destructive Button
  &.type--destructive {
    background-color: $color__destructive;
    color: $color__on--destructive;
    border: $border__size--md solid $color__destructive;

    &:disabled {
      background-color: rgba($color__destructive, 0.3);
      color: rgba($color__on--destructive, 0.3);
      border: $border__size--md solid rgba($color__destructive, 0);
    }
  }

  //Medium Size Button
  &.size--md {
    padding: $padding--sm $padding--xl;
    border-radius: $radius--xxs;
    @extend %font-style__label--lg;
  }

  //Small Size Button
  &.size--sm {
    padding: $padding--xs $padding--lg;
    border-radius: $radius--xxs;
    min-width: auto;
    @extend %font-style__label--md;
  }

  //Mediunm Icon Button
  &.icon--md {
    width: auto;
    border-radius: $radius--xxs;
    min-width: 0px;
    padding: $padding--lg;
	@extend %font-style__label--lg;
  }

  //Small Icon Button
  &.icon--sm {
    width: auto;
    border-radius: $radius--xxs;
    min-width: 0px;
    padding: $padding--sm;
  }
}
