@import "../main/styles.scss";

.tabs__root {
  padding: $padding--xl;
  border: $border__size--md solid $color__outline;
  border-radius: $radius--sm;
  height: -webkit-fill-available;
}
.tabs__list {
  display: flex;
  gap: $gap--sm;
  border-bottom: $border__size--md solid $color__outline;
}

.tabs__trigger {
  @extend %font-style__title--md;
  color: $color__neutral;
  background-color: transparent;
  border: $border__size--none solid;
  padding: $padding--sm $padding--sm;

  &[data-state="active"] {
    color: $color__primary;
    border-bottom: $border__size--lg solid $color__primary;
  }
}

.tabs__content {
  padding: $padding--md $padding--md;
  color: $color__on--surface;
  @extend %font-style__body--lg;
}
