@import "../main/styles.scss";

.input__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $gap--xs;
  color: $color__on--surface;

  @extend %font-style__body--lg;

  label {
    margin-bottom: 0.5em;
  }
}

.input {
  background-color: $color__surface__container--lowest;
  border: $border__size--md solid $color__outline--var;
  color: $color__on--surface;
  padding: $padding--md $padding--lg;
  border-radius: $radius--xxs;

  @extend %font-style__body--lg;

  &:hover {
    border-color: $color__primary;
    transition: border-color 0.25s ease-in;
  }

  &:placeholder {
    color: $color__on--surface--var;
    @extend %font-style__body--md;
  }

  &:focus {
    border-color: $color__primary;
  }

  &:focus-visible {
    outline: $border__size--md solid $color__primary;
  }
}

.input__icon {
  position: absolute;
  right: $padding--lg;
  top: 45%;
  transform: translateY(50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
  color: $color__on--surface;
}
