@import '../main/styles.scss';

.sidebar {
    width: max-content;
    padding: $padding--xl $padding--lg;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $gap--xs;
    height: 100vh;
    scroll-behavior: smooth;
    background-color: $color__primary--90;
    color: $color__on--surface;
    overflow-y: auto;
    overflow-x: hidden;

}

.heading {
  @extend %font-style__title--md;
  padding: $padding--xs $padding--lg;
}

.sub-heading {
  @extend %font-style__title--sm;
  padding: $padding--xs $padding--lg;
}