@import "../main/styles.scss";

.textarea {
  background-color: $color__surface__container--lowest;
  color: $color__on--surface;
  border: $border__size--md solid $color__outline--var;
  padding: $padding--md $padding--lg;
  border-radius: $radius--xxs;

  @extend %font-style__body--lg;

  &::placeholder {
    color: $color__on--surface--var;

    @extend %font-style__body--md;
  }

  &:focus {
    border-color: $color__primary;
  }

  &:focus-visible {
    outline: $border__size--md solid $color__primary;
  }
}
