@import "../main/styles.scss";

.textarea {
  background-color: $theme__color--surface--secondary;
  color: $theme__color--text--primary;
  border: $border__size--md solid $theme__color--line;
  padding: $padding--md $padding--lg;
  border-radius: $radius--md;

  @extend %font-style__body--lg;

  &:placeholder {
    color: $theme__color--text--secondary;

    @extend %font-style__body--md;
  }

  &:focus {
    border-color: $theme__color--primary;
  }

  &:focus-visible {
    outline: $border__size--md solid $theme__color--primary;
  }
}
